@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  width: 100%;
  height: 100vh;
  --fc-button-bg-color: #ef5f67;
  --fc-button-hover-bg-color: #d5585e;
  --fc-button-active-bg-color: #d5585e;
  --fc-border-color: black;
}

body {
  width: 100%;
  height: 100vh;
  background: #ffffff;
}

main.wave {
  background: url(../../public/blurry-gradient-haikei.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-width: 768px) {
  main.wave {
    background: url(../../public/layered-waves-haikei.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 75% 0;
    justify-content: end;
  }
}

.fc-media-screen {
  width: 100%;
  height: 80%;
}

.fc-col-header-cell {
  @apply bg-gray-300;
}

.fc-toolbar-title {
  border-radius: 25px;
  border: 2px solid #000000;
  padding: 20px;
}

.fc-event {
  padding: 0.3vw;
  height: auto;
  width: auto;
  @apply bg-gray-300;
  font-size: 1em;
  color: #000000;
  border-radius: 10px;
}

.fc-event-main {
  color: #000000 !important;
}

.fc-view-harness.fc-view-harness-active {
  width: 100%;
}

.popup-container {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8); /* Fond blanc semi-transparent */
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup {
  background-color: white-100;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.popup form {
  display: flex;
  flex-direction: column;
}

.popup label {
  margin-bottom: 8px;
}

.popup input {
  margin-bottom: 16px;
}

.popup button {
  margin-top: 16px;
}
.popup h2 {
  font-weight: bold;
  padding: 10px;
  padding-bottom: 14px !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* The switch - the box around the slider */
.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 2.5em;
  height: 1.5em;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  inset: 0;
  background: #ef5f6788;
  border-radius: 50px;
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}

.slider:before {
  position: absolute;
  content: "";
  height: 1em;
  width: 1em;
  left: 0.3em;
  bottom: 0.25em;
  background-color: white;
  border-radius: 50px;
  box-shadow: 0 0px 20px rgba(0, 0, 0, 0.4);
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.switch input:checked + .slider {
  background: #ef5f67;
}

.switch input:focus + .slider {
  box-shadow: 0 0 1px #ef5f67;
}

.switch input:checked + .slider:before {
  transform: translateX(1em);
  width: 1.5em;
  height: 1.5em;
  bottom: 0;
}

@keyframes slideFromRight {
  from {
    background-position: 100% 50%;
  }
  to {
    background-position: 0% 50%;
  }
}

textarea {
  resize: both; /* Permet la redimension de la zone de texte */
  width: 300px; /* Largeur initiale de la zone de texte */
  height: 100px; /* Hauteur initiale de la zone de texte */
}
